<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="java" class="services.Java"></bean>
    <bean id="springBoot" class="services.SpringBoot"></bean>
    <bean id="zayyni" class="main.Zayyni">
        <property ref="java" name="course"></property>
<!--        the above is this setter injection-->
<!--        <constructor-arg ref="java" name="course"></constructor-arg>-->
    </bean>

</beans>