<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="java" class="service.Java" autowire-candidate="false"/>-->
<!--    <bean id="springBoot" class="service.SpringBoot" primary="true"/>-->
<!--    <bean id="zayyni" class="main.Zayyni" autowire="byType"/>-->

    <bean id="java" class="service.Java"/>
    <bean id="springBoot" class="service.SpringBoot"  autowire-candidate="false"/>
    <bean id="zayyni" class="main.Zayyni" autowire="constructor"/>
</beans>